* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-size: auto;
}

main {
  background-image: url("./assets/lightblue.png");
  background-size: cover;

  min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.delete__btn {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 10px 15px;
  background-color: #e92121;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.9rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  transition: background-color 0.5s ease;
}

.delete__btn:hover {
  background-color: #c81b1b;
}

.chat__form {
  margin: 1rem;
  width: 100%;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  width: 40%;
  padding: 0.5rem;
}

.send__btn {
  margin-left: 1rem;
  padding: 0.5rem 1rem;
  background-color: #0e3d63;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  transition: background-color 0.5s ease;
}

.send__btn:hover {
  background-color: #061e30;
}